.container
  max-width 600px
  // 左右边距自动计算 
  margin 0 auto
  padding 10px 20px
  font-family Arial, sans-serif

  h1
    text-align center
  p 
    // 文字大小的1.6倍 继承自html
    line-height 1.6
  .more
    display inline-block
    background-color #fff
    color #000
    // 文字下划线
    text-decoration none 
    position relative
    // 动画效果，不是突然变过去
    transition all .3s ease
    ::before


